[submodule "external/pathogen"]
	path = external/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundles/vim-fugitive"]
	path = bundles/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
