[submodule "external/pathogen"]
	path = external/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/CSApprox"]
	path = bundle/CSApprox
	url = git://github.com/vim-scripts/CSApprox.git
[submodule "bundle/buftabs"]
	path = bundle/buftabs
	url = git://github.com/vim-scripts/buftabs.git
[submodule "bundle/QuickBuf"]
	path = bundle/QuickBuf
	url = git://github.com/vim-scripts/QuickBuf.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle-ruby/LustyExplorer"]
	path = bundle-ruby/LustyExplorer
	url = git://github.com/vim-scripts/LustyExplorer.git
[submodule "bundle-ruby/LustyJuggler"]
	path = bundle-ruby/LustyJuggler
	url = git://github.com/vim-scripts/LustyJuggler
[submodule "bundle/The-NERD-tree"]
	path = bundle/The-NERD-tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/The-NERD-Commenter"]
	path = bundle/The-NERD-Commenter
	url = git://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = git://github.com/vim-scripts/camelcasemotion.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/vim-scripts/surround.vim.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vcscommand.vim"]
	path = bundle/vcscommand.vim
	url = git://github.com/vim-scripts/vcscommand.vim.git
[submodule "bundle/DirDiff"]
	path = bundle/DirDiff
	url = git://github.com/vim-scripts/DirDiff.vim.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/vim-scripts/ack.vim.git
[submodule "bundle/Color-Sampler-Pack"]
	path = bundle/Color-Sampler-Pack
	url = git://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "bundle/SudoEdit"]
	path = bundle/SudoEdit
	url = git://github.com/vim-scripts/SudoEdit.vim.git
[submodule "bundle/python.vim--Vasiliev"]
	path = bundle/python.vim--Vasiliev
	url = git://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "bundle/rails.vim"]
	path = bundle/rails.vim
	url = git://github.com/vim-scripts/rails.vim.git
[submodule "bundle/AllBuffersToOneWindow"]
	path = bundle/AllBuffersToOneWindow
	url = git://github.com/vim-scripts/AllBuffersToOneWindow.vim.git
[submodule "bundle/buffers_search_and_replace"]
	path = bundle/buffers_search_and_replace
	url = git://github.com/vim-scripts/buffers_search_and_replace.git
[submodule "bundle/zoom.vim"]
	path = bundle/zoom.vim
	url = git://github.com/vim-scripts/zoom.vim.git
[submodule "bundle/Limp"]
	path = bundle/Limp
	url = git://github.com/vim-scripts/Limp.git
[submodule "bundle-python/slimv.vim"]
	path = bundle-python/slimv.vim
	url = git://github.com/vim-scripts/slimv.vim.git
[submodule "bundle/TVO--The-Vim-Outliner"]
	path = bundle/TVO--The-Vim-Outliner
	url = git://github.com/vim-scripts/TVO--The-Vim-Outliner.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/Markdown-syntax"]
	path = bundle/Markdown-syntax
	url = https://github.com/vim-scripts/Markdown-syntax.git
[submodule "bundle/vim-buffergator"]
	path = bundle/vim-buffergator
	url = git://github.com/jeetsukumaran/vim-buffergator.git
[submodule "bundle-python/gundo.vim"]
	path = bundle-python/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "bundle-ruby/vim-ruby-debugger"]
	path = bundle-ruby/vim-ruby-debugger
	url = https://github.com/astashov/vim-ruby-debugger.git
[submodule "bundle/vim-extradite"]
	path = bundle/vim-extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/ri-viewer"]
	path = bundle/ri-viewer
	url = git://github.com/vim-scripts/ri-viewer.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = git://github.com/vim-scripts/gitv.git
[submodule "bundle/browser-like-scrolling-for-readonly-file"]
	path = bundle/browser-like-scrolling-for-readonly-file
	url = git://github.com/vim-scripts/browser-like-scrolling-for-readonly-file.git
[submodule "bundle/ScrollColors"]
	path = bundle/ScrollColors
	url = git://github.com/vim-scripts/ScrollColors.git
[submodule "bundle-python/Python-mode-klen"]
	path = bundle-python/Python-mode-klen
	url = https://github.com/vim-scripts/Python-mode-klen.git
[submodule "bundle-python/UltiSnips"]
	path = bundle-python/UltiSnips
	url = git://github.com/vim-scripts/UltiSnips.git
[submodule "bundle-python/pep8.git"]
	path = bundle-python/pep8.git
	url = git://github.com/vim-scripts/pep8.git
[submodule "bundle/puppet-vim"]
	path = bundle/puppet-vim
	url = https://github.com/ajf/puppet-vim.git
